/*  SERVER/CLIENT/SRC/PAGES/LOGINPAGE/styles.css  */

p {
    color: #ceeff3ff;
    padding: 12px;
    text-align: center;
}

.login-form-ctr {
    display: flex;
    flex-direction: column;
}

.input-fields {
    width: 350px;
    display: flex;
    padding: 14px;
    font-size: 16px;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid #f8624fff;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: #f8624fff;
    color: #ceeff3ff;
}

